
* {
    background-color:rgb(130, 130, 130);
    margin: 0%;
    padding: 0%;
}


/* menu style "start" */

.banner {
    display: inline-flex;
    width: 100vw;
    height: 20vh;
    background-color: white;
    z-index: 20;
}

.banner nav {
    width: 38vw;
    height: 20vh;
    background:rgb(0, 0, 0);
}

.banner ul {
    padding-top: 4vh;
    padding-bottom: 4vh;
    background:rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.banner ul li {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 1.2vh;
    color:rgba(255, 255, 255, 0);
    background:rgb(0, 0, 0);
}

.banner ul li a {
    text-decoration: none;
    font-size: 100%;
    font-family: arial;
    color: #cbcbcb;
    background-color: rgba(255, 0, 0, 0);
    letter-spacing: 0.15rem;
}

.banner ul li a:hover {
    color: rgb(255, 255, 255);
}
/* menu style "end" */

.banner h1 {  
    width: 58vw;
    height: 4vh;
    padding-top: 3vh;
    text-align: center;
    font-size: 2vh;
    letter-spacing: 3vw;
    list-style: none;
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.BG_img {

}

.logo_img {

}

.info-text {

}

.textbox {  

}