
* {
    background-color:rgb(130, 130, 130);
    margin: 0%;
    padding: 0%;
}


/* menu style "start" */

.banner {
    display: inline-flex;
    width: 120vw;
    height: 160px;
    background-color: white;
    z-index: 20;
}

.banner nav {
    width: 38vw;
    min-width: 85px;
    height: 160px;
    background:rgb(0, 0, 0);
}

.banner ul {
    
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background:rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.banner ul li {
    margin-left: 4vw;
    margin-right: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgba(255, 255, 255, 0);
    background:rgb(0, 0, 0);
}

.banner ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 20vw;
    font-family: arial;
    align-items: center;
    color: #cbcbcb;
    background-color: rgba(255, 0, 0, 0);
    letter-spacing: 0.15rem;
}

.banner ul li a:hover {
    color: rgb(255, 255, 255);
}
/* menu style "end" */

.banner h1 {  
    width: 58vw;
    height: 4vh;
    padding-top: 3vh;
    text-align: center;
    font-size: 16px;
    letter-spacing: 4vw;
    list-style: none;
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.BG_img {

}

.logo_img {

}

.info-text {

}

.textbox {  

}