
* {
    background-color:rgb(130, 130, 130);
    margin: 0%;
    padding: 0%;
}


/* menu style "start" */

.banner {
    display: inline-flex;
    width: 120vw;
    height: 160px;
    background-color: white;
    z-index: 20;

}

.banner nav {
    z-index: 2;
    width: 38vw;
    min-width: 75px;
    height: 160px;
    background:rgb(0, 0, 0);
}

.banner ul {
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background:rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.banner ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}


.banner ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 20vw;
    list-style: none;
    font-family: arial;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(184, 36, 36);
    letter-spacing: 0.15rem;
    
}

.banner ul:hover {
    color: rgb(0, 0, 0);
}



/* menu style "end" */


.banner img {
    position: relative;
    z-index: 1; 
    width: 80vw;
    height: 160px;
}

 .banner h1 {  
    position: absolute;
    width: 10vw;
    top: 2px;
    height: 5px;
    left: 5vw;
    padding-top: 7px;
    padding-left: 38vw;
    z-index: 40;
    font-size: 16px;
    text-align: center;
    letter-spacing: 5vw;
    list-style: none;
    background:rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}

.logo_img {

}

.info-text {

}

.textbox {  

}